@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2");
  font-weight: 1;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: Montserrat;
  min-width: 375px;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1350px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.top-line {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(245, 245, 250, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.lang a {
  color: #FFF;
  padding: 5px 7px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.lang a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.lang a.active {
  color: #ffffff;
  background-color: #F0145A;
}

.address {
  display: none;
}

.phone {
  color: #FFF;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.fb {
  display: none;
}

.menu-btn {
  display: block;
  cursor: pointer;
  background-image: url(../img/burger-white.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
.menu-btn.active {
  background-image: url(../img/close-white.svg);
}

.menu-list {
  display: none;
}
.menu-list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  list-style: none;
}
.menu-list.active > li > a {
  display: block;
  padding: 7px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  color: #24A3FF;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
  background: #F5F5FA;
  text-decoration: none;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin: 15px 0 10px;
}

.logo-box__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-box__page::before {
  content: "";
  background-image: url("../img/slash.svg");
  width: 12px;
  height: 26px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding: 0 60px;
  }
  .top-line {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: transparent;
    padding: 50px 0 0;
    margin: 0;
  }
  .address {
    display: inline-block;
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3px 0;
    position: relative;
    margin-left: 18px;
  }
  .address::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: url(../img/dot-separator.svg) no-repeat center center;
    margin: 0 6px;
    position: absolute;
    top: calc(50% - 3px);
    left: -18px;
  }
  .fb {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: 18px;
    background: url(../img/fb.svg) no-repeat center;
  }
  .fb::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: url(../img/dot-separator.svg) no-repeat center center;
    margin: 0 6px;
    position: absolute;
    top: calc(50% - 3px);
    left: -18px;
  }
  .phone {
    padding: 3px 0;
    position: relative;
    margin-left: 18px;
  }
  .phone::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: url(../img/dot-separator.svg) no-repeat center center;
    margin: 0 6px;
    position: absolute;
    top: calc(50% - 3px);
    left: -18px;
  }
  .logo-box {
    margin: 30px 0;
  }
  .logo img {
    width: 130px;
    height: 60px;
  }
  .logo-box__page::before {
    width: 21px;
    height: 47px;
    background-size: 21px 47px;
  }
  .menu-btn {
    display: none;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
  }
  .menu-list > li > a {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid none;
    margin-right: 15px;
  }
  .menu-list > li > a:hover {
    border-bottom: 2px solid #FFF;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }
  .logo-box {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .top-line {
    grid-column: 2/3;
  }
  .menu {
    justify-self: end;
  }
}
.gradient {
  border-radius: 0px 0px 12px 12px;
  background: url(../img/symbol-h.svg) no-repeat center top, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  margin-bottom: 30px;
}
.gradient::after {
  content: "";
  border-radius: 0px 0px 12px 12px;
  background-color: #CACADB;
  width: auto;
  height: 10px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
}
.gradient::before {
  content: "";
  border-radius: 0px 0px 12px 12px;
  background-color: #E7E7F2;
  width: auto;
  height: 10px;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .gradient {
    background-size: 893px 1024px, auto auto;
  }
}
.services {
  margin: 30px 0;
}

.services-link {
  color: #24A3FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-icon {
  stroke: #24A3FF;
}

.services-head {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 60px;
}

.services-box {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.services-icon {
  width: 64px;
  height: 64px;
  padding: 14px;
  border: 24px solid #fff;
  border-radius: 24px;
  background: #FFF;
  position: relative;
}

.icon {
  display: block;
  position: absolute;
  left: -19px;
  top: -19px;
  z-index: 1000;
}

.services-item-head {
  color: #24A3FF;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 15px;
}

.services-item-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 768px) {
  .services-head {
    font-size: 38px;
  }
  .services-box {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 992px) {
  .services-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.solution {
  padding-top: 129px;
  padding-bottom: 159px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partners {
  margin: 60px 0 30px;
}

.partners-head {
  color: #323264;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.partners-logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.partners-logo_hillel {
  background: #1C4280;
  padding: 36px 0;
}
.partners-logo_wannabiz {
  background: #143646;
  padding: 44px 0;
}
.partners-logo_tapgerine {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
  padding: 38px 0;
}
.partners-logo_3dlook {
  background: #9E4DC3;
  padding: 39px 0;
}
.partners-logo_orangear {
  background: #FD9339;
  padding: 38px 0;
}
.partners-logo_adtelligent {
  background: #E2E2E4;
  padding: 36px 0;
}
.partners-logo_clickky {
  background: #C71C36;
  padding: 29px 0;
  display: none;
}
.partners-logo_ecolease {
  background: #DCF3F9;
  padding: 22px 0;
  display: none;
}
.partners-logo_infratek {
  background: #EAEAEA;
  padding: 30px 0;
  display: none;
}
.partners-logo_citypark {
  background: #282240;
  padding: 41px 0;
  display: none;
}
.partners-logo_artiprint {
  background: #1D4568;
  padding: 37px 0;
  display: none;
}
.partners-logo_ultimate {
  background: #000;
  padding: 13px 0 12px;
  display: none;
}

@media (min-width: 768px) {
  .partners-logo {
    width: 33.333%;
  }
  .partners-logo_clickky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners-logo_ecolease {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners-logo_infratek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners-logo_citypark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners-logo_artiprint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners-logo_ultimate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .partners-logo {
    width: 25%;
  }
}
.publications {
  margin: 30px 0;
  background: #F5F5FA;
  padding: 0 30px;
}

.publications-link {
  color: #24A3FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-icon {
  stroke: #24A3FF;
}

.publications-head {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 60px;
}

.publications-box {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.publications-text {
  background: #fff;
  padding: 30px;
  text-decoration: none;
  display: block;
}

.publications-item-head {
  color: #24A3FF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.publications-item-date {
  color: #B3B3BA;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 0;
  border-bottom: 4px solid #E6E6F0;
}

.publications-item-text {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.publications-photo {
  width: auto;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.publications-photo_photo1 {
  background-image: url(../img/public1_m.png);
}
.publications-photo_photo2 {
  background-image: url(../img/public2_m.png);
}
.publications-photo_photo3 {
  background-image: url(../img/public3_s.png);
}

@media (min-width: 768px) {
  .publications-head {
    font-size: 38px;
  }
  .publications-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .services-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */
