.partners{
    margin: 60px 0 30px;
}
.partners-head {
    color: #323264;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.partners-logo-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    &_hillel {
        background: #1C4280;
        padding: 36px 0;
    }

    &_wannabiz {
        background: #143646;
        padding: 44px 0;
    }

    &_tapgerine {
        background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
        padding: 38px 0;
    }

    &_3dlook {
        background: #9E4DC3;
        padding: 39px 0;
    }

    &_orangear {
        background: #FD9339;
        padding: 38px 0;
    }

    &_adtelligent {
        background: #E2E2E4;
        padding: 36px 0;
    }

    &_clickky {
        background: #C71C36;
        padding: 29px 0;
        display: none;
    }

    &_ecolease {
        background: #DCF3F9;
        padding: 22px 0;
        display: none;
    }

    &_infratek {
        background: #EAEAEA;
        padding: 30px 0;
        display: none;
    }

    &_citypark {
        background: #282240;
        padding: 41px 0;
        display: none;
    }

    &_artiprint {
        background: #1D4568;
        padding: 37px 0;
        display: none;
    }

    &_ultimate {
        background: #000;
        padding: 13px 0 12px;
        display: none;
    }
}

@media (min-width: 768px) {
    .partners-logo {
        width: 33.333%;

        &_clickky {
            display: flex;
        }

        &_ecolease {
            display: flex;
        }

        &_infratek {
            display: flex;
        }

        &_citypark {
            display: flex;
        }

        &_artiprint {
            display: flex;
        }

        &_ultimate {
            display: flex;
        }
    }
}

@media (min-width: 992px) {
    .partners-logo {
        width: 25%;
    }
}